$blue-1: #003A8C;
$blue-2: #0168B6;
$blue-3: #0D91F3;
$blue-4: #1890FF;
$blue-5: #00A6F4;
$blue-6: #21BDFF;
$blue-7: #91D5FF;
$blue-8: #E6F7FF;
$blue-9: #5774FF;
$blue-10: #0D91FC;
$blue-11: #525EFF;
$blue-12: #0D91FC;
$blue-13: #4E72FF;
$blue-14: #0033FF;
$blue-15: #E7F4FE;
$blue-16: #81CAFF;

$green-1: #00BD9A;
$green-2: #00A854;
$green-3: #52C41A;
$green-4: #B7EB8F;
$green-5: #F6FFED;
$green-6: #E6F6EE;

$cyan-1: #00C5D2;

$purple-1: #C367DF;
$purple-2: #DF52BF;
$purple-3: #954CFF;

$red-1: #FF3B30;
$red-2: #F04134;
$red-3: #F5222D;
$red-4: #E65D8D;
$red-5: #FFA39E;
$red-6: #FFF2F1;
$red-7: #FF3399;
$red-8: #FEECEB;
$red-9: #DF52BF;
$black-0: #000000;
$black-1: #333333;
$black-2: #3D4A5C;
$black-3: #384455;
$black-4: #35404F;
$black-5: #666666;
$black-6: #999999;
$black-7: #C9C9C9;
$black-8: #000000;

$gray-1: #D9D9D9;
$gray-2: #CCCCCC;
$gray-3: #EBEBEB;
$gray-4: #E9E9E9;
$gray-5: #EBEDF2;
$gray-6: #E8E8E8;
$gray-7: #E4E6EB;
$gray-8: #E4E4E4;
$gray-9: #BFBFBF;

$white-1: #FFFFFF;
$white-2: #F0F2F5;
$white-3: #F2F2F2;
$white-4: #FAFAFA;
$white-5: #F7F7F7;

$yellow-1: #FE9400;
$yellow-2: #FFBF00;
$yellow-3: #FAAD14;
$yellow-4: #FFE58F;
$yellow-5: #FFFBE6;
$yellow-6: #FFC307;
$yellow-7: #FFF9E6;
$yellow-8: #FFF5E6;

$orange-1: #FF9B00;
