.sds-action-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
  .el-button {
    padding: $sds-button-padding-vertical $sds-button-padding-horizontal;
  }
}
.sds-action-bar-left, .sds-action-bar-right {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  & > * {
    flex: 0 0 auto;
  }
}
.sds-action-bar-left {
  .el-button-group + .el-button,
  .el-button + .el-button-group {
    margin-left: 12px;
  }
}
.sds-action-bar-right {
  justify-content: flex-end;
  .el-input {
    width: 60%;
  }
  .sds-action-bar-right-fresh-btn {
    font-size: $sds-font-size-small;
    margin-right: 8px;
  }
  .el-icon-search {
    &:hover {
      color: $sds-primary-color;
    }
  }
}
.sds-action-bar-right-radio-group {
  margin-left: 8px;
  .el-radio-button {
    &.is-focus {
      .el-radio-button__inner {
        color: $sds-primary-text-color;
        background-color: $sds-white-color;
      }
    }
    &.is-active {
      .el-radio-button__inner {
        color: $sds-table-icon-primary-text-color;
        background-color: $sds-button-group-active-bg-color;
        border-color: $sds-button-group-active-bg-color;
      }
    }
  }
  .el-radio-button__inner {
    padding: 8px 5px;
    font-size: 14px;
    color: $sds-button-group-active-bg-color;
    border: 1px solid $sds-button-group-active-bg-color !important;
    border-radius: 4px;
    background-color: $sds-white-color;
    box-shadow: none !important;
    &:hover{
      color: $sds-primary-text-color;
      text-decoration: underline;
    }
  }
}
