.sds-notification {
  &__license {
    margin: 48px 4px 10px 0;

    .el-notification__title {
      font-size: 14px;
    }
    & > i {
      color: $sds-primary-color !important;
    }
  }
  &__text {
    max-width: 216px;
    word-break: break-all;
  }
  &__message {
    font-size: 14px;
    color: $sds-light-color;
    width: 245px;
    &-button {
      float: right;
    }
  }
}
