.sds-pagination {
  @include flex(space-between);
  margin: 16px 0;
  .sds-pagination__hidden {
    visibility: hidden;
  }
  .el-pagination {
    width: 100%;
    .btn-prev,
    .btn-next,
    .el-pager > li {
      height: 32px;
      width: 32px;
      margin: 0 8px;
      line-height: 32px;
      border-radius: 4px;
      color: $sds-pagination-btn-text-color;
      border-color: $sds-pagination-btn-border-color;
      .el-icon {
        font-size: 18px;
      }
      &:disabled {
        border: 1px solid $sds-pagination-btn-border-color;
        background-color: $sds-pagination-btn-bg-color;
        .el-icon {
          color: $sds-pagination-disabled-color;
        }
      }
    }
    .el-pager > li {
      &:hover {
        border-color: $sds-pagination-btn-hover-border-color;
      }
      &:not(.active) {
        &:hover {
          color: $sds-pagination-btn-hover-text-color;
        }
      }
    }
    .el-pagination__jump,.el-pagination__sizes,.el-pager,.btn-next,.btn-prev{
      float: right;
    }
    .el-pagination__sizes {
      margin: 0 3px;
      .el-select {
        .el-input__inner {
          height: 32px;
        }
      }
    }
    .el-pagination__total {
      margin-right: 0;
      &.sds-pagination__total{
        white-space: pre;
      }
    }
  }
}
