@import "../mixins/index";
@import "../themes/index";
@import "../vars/index";
.sds-dot-tag {
  position: relative;
  display: inline-block;
  color: $sds-tag-blue-color;
  font-size: $sds-tag-dot-font-size;
  &::before {
    display: inline-block;
    content: "";
    width: $sds-tag-dot-size;
    height: $sds-tag-dot-size;
    border-radius: 50%;
    background-color: $sds-tag-blue-color;
  }
}
.sds-tag {
  height: #{$sds-font-line-height-base}em;
  line-height: $sds-font-line-height-base;
  color: $sds-tag-blue-color;
  background-color: $sds-tag-blue-bg-color;
  border: 1px solid rgba($sds-tag-blue-color, 0.4);
  font-weight: normal;
  &.transparent {
    background-color: transparent;
  }
}
@include make-tag-theme($tag-color-map);
